body {
    background-image: url(http://2.bp.blogspot.com/-6c62d3yroSE/UFbb_esa7nI/AAAAAAAAARo/b1_M0I0Afjo/s1600/Challweb-.jpg);
    background-repeat: no-repeat;
    background-size: 1280px;
    
}

#current-link {
    text-decoration: none;
}

.uppercase{
    text-transform: uppercase;
    font-size: 60px;
    text-decoration-color: coral;
}

h1{
  font-family: 'Poiret One', cursive;
  color: #ff5722;
}

h2{
    font-family: 'Montserrat', sans-serif;
}

p{
    font-family: 'Montserrat', sans-serif;
    font-size: 16.3px;
}

header{
    margin-left: 30px; 
    margin-top: 20px;
}

article{
    color: #fff59d;
    font-family: 'Montserrat', sans-serif;
    margin-left: 30px;
}

img{
    position: 1000px;
    margin-left: 40px;
    
}

a{
   color: #ff5722;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px; 
}

nav{
    margin-top: 30px;
}